@use 'variable' as var;
@use 'mixin';

.header {
  max-width: var.$maxWidth;
  height: 100px;
  background-color: var.$navy;
  position: relative;

  & > ul {
    display: flex;
    gap: 10px;
    width: 160px;
    background-color: var.$white;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 20px;

    @each $className in var.$classNames {
      $index_key : index(var.$classNames, $className );
      $color : nth(var.$buttonColor, $index_key);
      
      & > .#{$className} {        // &(ul) > .(ulの中のliのclass名)
          @include mixin.box($color, 40px, 40px);
      }
    }
  }
}

main {
  display: flex;
  max-width: var.$maxWidth;

  & > .sidebar{
    width: 150px;
    height: 250px;
    background-color: var.$green;
  }

  & > .main {
  width: 250px;
  height: 250px;
  background-color: var.$red;
  position: relative;

    & > .container {
      width: 150px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 40px;
      left: 40px;

      @each $className in var.$classNames {
        $index_key : index(var.$classNames, $className );
        $color : nth(var.$buttonColor, $index_key);

        & > .#{$className}{
            @include mixin.box($color, 140px, 40px, solid 5px #fff);
        }
      }
    }
  }
}

.footer {
  max-width: var.$maxWidth;
  height: 100px;
  background-color: var.$brown;
}